.friendList {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  gap: 20px;
  margin-bottom: 30px;
  list-style-type: none;
}

.friendListItem {
  width: 100px;
  height: 150x;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.friendListItem:hover {
  background-color: #eaeaea;
}
